{{>partials/header}}

    iniciando mustaches
    <br>
    variavel 1: {{user.name}}, variavel 2: {{lastName}}, variavel 3: {{user.idade}}
    <br>
    So enviando o objeto: {{user}}
    <br>
    Condicionamento: {{#showWelcome}}
                        testando condição
                     {{/showWelcome}}

    <hr>
    <h2> Testando lista </h2>
     Usando partials, seria o mesmo de usar "widgets" no Flutter
    <ul>
    {{#products}}
    {{>partials/productItem}}
    {{/products}}
    </ul>

     <hr>
    <h2> Testando lista 2</h2>
    
    <ul>
    {{#productExpensive}}
    {{>partials/productItem}}
    {{/productExpensive}}
    </ul>

    <h2> Testando lista 3</h2>
    Quando usa só o ".", inclui a variavel da condição 
    <ul>
    {{#fraseDoDia}}
    <li> {{.}} </li>
    {{/fraseDoDia}}
    
    {{^fraseDoDia}}
    aqui ocorre se a lista forvazia, um else
    <li> não há frase do dia </li>
    {{/fraseDoDia}}
    </ul>

    <hr>
    <h2> Usuários do banco 1<h2>
    <ul>
    {{#users1}}
    {{>partials/users}}
    {{/users1}}
    </ul>

    <h2> Usuários do banco 2<h2>
    <ul>
    {{#users2}}
    {{>partials/users}}
    {{/users2}}
    </ul>

    <h2> Usuários do banco 3<h2>
    <ul>
    {{#users3}}
    {{>partials/users}}
    {{/users3}}
    </ul>

    <h2> Usuários do banco 4<h2>
    <ul>
    {{#users4}}
    {{>partials/users}}
    {{/users4}}
    </ul>

    <h2> Usuários do banco 5<h2>
    <ul>
    {{#users5}}
    {{>partials/users}}
    {{/users5}}
    </ul>

    <h2> Usuários do banco 6<h2>
    <ul>
    {{#users6}}
    {{>partials/users}}
    {{/users6}}
    </ul>

    <fieldset>
    <legend>Novo usuario</legend>
    <form method="POST" action="/">
    <input type="text" name = "name" placeholder="digite seu nome">
    <br><br>
    <input type="text" name = "idade" placeholder="digite sua idade">
    <br><br>
    <input type="submit" value="Inserir Usuario">
    </fieldset>
    



{{>partials/footer}}
